/* Indicadores */
.carousel-indicators {
  position: relative;
  margin-top: 20px;
  justify-content: center;
}


.carousel-indicators [data-bs-target] {
  background-color: #555;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #000;
}

/* Imágenes */
.card-img-top {
  height: 180px;
  object-fit: cover;
}

/* 🔥 CLAVE: navbar por encima */
.navbar {
  position: relative;
  z-index: 1000;
}